<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<body>
    <div class="App">
        <header class="App-header">
            <img src="{{ url_for('static', filename='Octocat.png') }}" class="App-logo" alt="logo" />
            <p>
                Gnkl <span class="heart">♥️</span> is awesome
            </p>
            <p class="small">
                Try making some APIs know that have actual functionality!
            </p>
        </header>
    </div>
</body>

</html>
